# Ignore executable file.
bin2gif
bin2gif-static
# Ignore objects and archives.
*.[oa]
# Ignore text editors backup files.
*~
# Ignore tests binary and results files
make_test_files
*.bin
*.dbl
*.cpl
*.adbl
*.acpl
*.gif
# Ignore PBS and CLEO log files
machinefile*
*.out-*
*.rep-*
.cleo-*
*panfs*
